# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# 自定义配置文件
custom.config.toml

# 临时文件
/kernel/temp/*

# 静态资源文件目录
/app/static/appearance/emojis/*
/app/static/appearance/icons/*
/app/static/appearance/themes/*
/app/static/assets/*
/app/static/emojis/*
/app/static/export/*
/app/static/stage/build/*
/app/static/stage/fonts/*
/app/static/stage/protyle/*
/app/static/widgets/*

# 示例文件
/examples
