# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# 日志文件
*.log

# 数据库文件
*.db

# 自定义配置文件
/kernel/custom.config.toml

# 静态资源文件目录
/kernel/temp/static/appearance/emojis/*
/kernel/temp/static/appearance/icons/*
/kernel/temp/static/appearance/themes/*
/kernel/temp/static/assets/*
/kernel/temp/static/emojis/*
/kernel/temp/static/export/*
/kernel/temp/static/stage/build/*
/kernel/temp/static/stage/fonts/*
/kernel/temp/static/stage/protyle/*
/kernel/temp/static/widgets/*

# 示例文件目录
/examples
