# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# 日志文件
*.log

# 数据库文件
*.db

# 发行文件目录
/release/*

# 示例文件目录
/examples/*

# 打包时复制的目录
/app

# 自定义配置文件
/kernel/custom.config.toml
/kernel/test.config.toml

# 临时文件文件目录
/kernel/temp/*

# 其他文件
