<script id="configScript" type="module">
    /* 渲染配置 */
    window.siyuan = {
        config: {
            appearance: {
                mode: parseInt("{{.Render.Appearance.Mode}}"),  // 主题模式
                codeBlockThemeLight: "{{.Render.Appearance.CodeBlockThemeLight}}", // 明亮主题代码块配色
                codeBlockThemeDark: "{{.Render.Appearance.CodeBlockThemeDark}}", // 暗黑主题代码块配色
            },
            editor: {
                codeLigatures: "{{.Render.Editor.CodeLigatures}}" === "true", // 代码是否启用连字符
                codeLineWrap: "{{.Render.Editor.CodeLineWrap}}" === "true", // 代码行是否启用自动换行
                codeSyntaxHighlightLineNum: "{{.Render.Editor.CodeSyntaxHighlightLineNum}}" === "true", // 代码块是否显示行号
                fontFamily: `{{ range $v := .Render.Editor.FontFamily}}"{{ $v }}", {{end}}`, // 编辑器字体
                fontSize: parseInt("{{.Render.Editor.FontSize}}"), // 编辑器字体大小
                fullWidth: "{{.Render.Editor.FullWidth}}" === "true", // 是否启用自适应宽度
                katexMacros: "{{.Render.Editor.KatexMacros}}", // 数学公式宏
                plantUMLServePath: "{{.Render.Editor.PlantUMLServePath}}", // plant UML 渲染服务 URL

                contenteditable: "{{.Render.Editor.Contenteditable}}" === "true", // 文档内容是否可编辑
                spellcheck: "{{.Render.Editor.Spellcheck}}" === "true", // 文档内容是否开启拼写检查
            },
        },
        languages: {
            copy: "复制",
        },
    };

    /* 发布配置 */
    window.publish = {
        url: new URL(window.location),
        config: { // 配置选项
            theme: {
                light: {
                    color: "{{.Render.File.Style.Light.Color}}",
                    backgroundColor: "{{.Render.File.Style.Light.BackgroundColor}}",
                    default: "{{.Render.File.Style.Light.Default}}",
                    theme: "{{.Render.File.Style.Light.Theme}}",
                    custom: "{{.Render.File.Style.Light.Custom}}",
                },
                dark: {
                    color: "{{.Render.File.Style.Dark.Color}}",
                    backgroundColor: "{{.Render.File.Style.Dark.BackgroundColor}}",
                    default: "{{.Render.File.Style.Dark.Default}}",
                    theme: "{{.Render.File.Style.Dark.Theme}}",
                    custom: "{{.Render.File.Style.Dark.Custom}}",
                },
            },
            title: {
                img: "{{.TitleImg}}", // 题头图
                height: "{{.TitleHeight}}", // 题头高度
            },
            popover: { // 超链接弹窗预览
                timeout: parseInt("{{.Render.Popover.Timeout}}"), // 鼠标悬浮触发时间(单位: 毫秒)
                width: "{{.Render.Popover.Width}}",
                height: "{{.Render.Popover.Height}}",
            },
            url: {
                base: "{{.URL.Base}}",
                pathname: "{{.URL.Pathname}}",
            },
        },
        render: {
            protyle: "{{.Render.Path.Protyle}}", // 文档内容渲染工具目录
        },
        plugin: { // 插件配置
            path: "{{.Render.Path.Plugins}}", // 插件目录访问路径
            plugins: null, // Plugins 对象
            load: eval(`[{{ range $plugin := .Render.Plugin.Load }}"{{$plugin}}", {{ end }}]`), // 只加载不调用的插件
            before: eval(`[{{ range $plugin := .Render.Plugin.Before }}"{{$plugin}}", {{ end }}]`), // 渲染前调用的插件
            after: eval(`[{{ range $plugin := .Render.Plugin.After }}"{{$plugin}}", {{ end }}]`), // 渲染后调用的插件
        },
        document: { // 文档信息
            home: "{{.Home}}", // 文档主页
            path: "{{.Path}}", // 文档路径
            hpath: "{{.Hpath}}", // 人类可读路径
            tags: "{{.Tags}}", // 文档标签
            icon: "{{.Icon}}", // 文档图标
            title: "{{.Title}}", // 文档标题
            titleImg: "{{.TitleImg}}", // 文档题头图
        },
        home: { // 主页信息
            url: "{{.Home.URL}}", // 主页 URL
            icon: "{{.Home.Icon}}", // 主页图标
        },
        i18n: { // 多语言
            "pin": '{{ call .T "global.pin" }}',
            "close": '{{ call .T "global.close" }}',
            "home": '{{ call .T "global.home" }}',

            "new-window": '{{ call .T "HTML.new-window" }}',
            "new-page": '{{ call .T "HTML.new-page" }}',
        },
    };

    /* 设置主题模式 */
    (() => {
        /* 设置主题模式 */
        function setThemeMode(mode) {
            switch (mode) {
                case 0: // 亮色
                    document.body.style.color = window.publish.config.theme.light.color;
                    document.body.style.backgroundColor = window.publish.config.theme.light.backgroundColor;
                    window.siyuan.config.appearance.mode = 0;
                    break;
                case 1: // 暗色
                    document.body.style.color = window.publish.config.theme.dark.color;
                    document.body.style.backgroundColor = window.publish.config.theme.dark.backgroundColor;
                    window.siyuan.config.appearance.mode = 1;
                    break;
            }
        }

        /* 使用 URL 参数 theme 设置主题模式 */
        switch (window.publish.url.searchParams.get('theme')) {
            case 'light':
                setThemeMode(0);
                break;
            case 'dark':
                setThemeMode(1);
                break;
            case 'auto':
            default:
                /* 使用服务器配置设置主题模式 */
                switch (window.siyuan.config.appearance.mode) {
                    case 0:
                    default:
                        setThemeMode(0);
                        break;
                    case 1:
                        setThemeMode(1);
                        break;
                    case 2:
                        /* 使用浏览器配置设置主题模式 */
                        switch (true) {
                            case window.top.matchMedia('(prefers-color-scheme: light)').matches:
                                setThemeMode(0);
                                break;
                            case window.top.matchMedia('(prefers-color-scheme: dark)').matches:
                                setThemeMode(1);
                                break;
                            default:
                                setThemeMode(0);
                                break;
                        }
                        break;
                }
        }
    })();
</script>
