<!-- porotyle 解析脚本 -->
<script id="renderScript">
    {
        const url = new URL(window.location.href);

        /* 设置题头 */
        document.getElementById('title').style.minHeight = window.publish.config.title.height;
        const title_img = window.publish.config.title.img
        if (title_img) {
            const img = document.getElementById('title-img');
            const reg = /background-image:url\((.*)\);/
            if (reg.test(title_img)) { // 使用了自定义背景图片
                const src = reg.exec(title_img)[1];
                const style = title_img.replace(/background-image:url\((.*)\);/, "");
                img.src = src;
                img.style = style;
            } else { // 使用了随机背景图片
                img.style = title_img;
            }
        }

        /* 设置主题模式 */
        function setThemeMode(mode) {
            switch (mode) {
                case 0:
                    document.getElementById('themeDefaultStyle').href = window.publish.config.theme.light.default;
                    document.getElementById('themeStyle').href = window.publish.config.theme.light.theme;
                    document.getElementById('themeCustomStyle').href = window.publish.config.theme.light.custom;
                    window.siyuan.config.appearance.mode = 0;
                    break;
                case 1:
                    document.getElementById('themeDefaultStyle').href = window.publish.config.theme.dark.default;
                    document.getElementById('themeStyle').href = window.publish.config.theme.dark.theme;
                    document.getElementById('themeCustomStyle').href = window.publish.config.theme.dark.custom;
                    window.siyuan.config.appearance.mode = 1;
                    break;
            }
        }

        /* 使用 URL 参数 theme 设置主题模式 */
        switch (url.searchParams.get('theme')) {
            case 'light':
                setThemeMode(0);
                break;
            case 'dark':
                setThemeMode(1);
                break;
            case 'auto':
            default:
                /* 使用服务器配置设置主题模式 */
                switch (window.siyuan.config.appearance.mode) {
                    case 0:
                    default:
                        setThemeMode(0);
                        break;
                    case 1:
                        setThemeMode(1);
                        break;
                    case 2:
                        /* 使用浏览器配置设置主题模式 */
                        switch (true) {
                            case window.matchMedia('(prefers-color-scheme: light)').matches:
                                setThemeMode(0);
                                break;
                            case window.matchMedia('(prefers-color-scheme: dark)').matches:
                                setThemeMode(1);
                                break;
                            default:
                                setThemeMode(0);
                                break;
                        }
                        break;
                }
        }

        /* 渲染 */
        const previewElement = document.getElementById('preview');
        Protyle.highlightRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.mathRender(previewElement, "{{.Render.Path.Protyle}}", false);
        Protyle.mermaidRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.flowchartRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.graphvizRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.chartRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.mindmapRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.abcRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.plantumlRender(previewElement, "{{.Render.Path.Protyle}}");
        Protyle.mediaRender(previewElement);
        document.querySelectorAll(".protyle-action__copy").forEach((item) => {
            item.addEventListener("click", (event) => {
                navigator.clipboard.writeText(item.parentElement.nextElementSibling.textContent.trimEnd());
                event.preventDefault();
                event.stopPropagation();
            })
        });
    }
</script>
