<!-- 标题 -->
<div class="protyle-title protyle-wysiwyg--attr" style="margin: 16px 96px 0px;">
    <!-- <span aria-label="点击 打开菜单<br>⇧Click 修改属性" class="protyle-title__icon" data-type="a" data-position="right">
        <svg>
            <use xlink:href="#iconFile"></use>
        </svg>
    </span> -->
    <div contenteditable="false" spellcheck="false" class="protyle-title__input" data-tip="请输入文档名" data-render="true">{{.Title}}</div>
    <!-- <div class="protyle-attr">
        <div class="protyle-attr--refcount popover__block" data-defids="[&quot;20200812220555-lj3enxa&quot;]" data-id="[&quot;20220315041928-4qm8t8z&quot;,&quot;20220315042154-my4c21s&quot;,&quot;20220315043114-3e8exs0&quot;,&quot;20220315043208-wngt1dq&quot;,&quot;20220315043311-p7xk9l3&quot;,&quot;20220315043454-x3qcxtj&quot;,&quot;20220315043625-mzssoxm&quot;,&quot;20220320154238-g99kjdi&quot;,&quot;20210604220521-6t4tsb3&quot;]">9</div>
    </div> -->
</div>
