// out: "./../css/", compress: false, sourceMap: false
#editor {
    overflow: auto;
    height: 100%;

    #preview {
        [data-node-id] {
            >.link-copy {
                display: none;
                position: absolute;
                top: 0.375rem;
                left: -1.5rem;
                width: 1.5rem;
                // height: 1rem;
                z-index: 1;

                >svg {
                    color: var(--b3-theme-on-surface-light);
                }

            }

            &.hr {
                >.link-copy {
                    /* 调整分割线块的块超连接标志位置 */
                    top: -0.25rem;
                }
            }

            &.sb,
            &.bq {
                >.link-copy {
                    /* 调整容器块的块超连接标志位置 */
                    top: -0.25rem;
                }
            }

            &.list {
                >.link-copy {
                    /* 调整列表块的块超连接标志位置 */
                    top: -0.625rem;
                }
            }

            &.li {
                >[data-node-id][data-type="NodeHeading"] {
                    >.link-copy {
                        /* 调整列表项内标题块的块超连接标志位置 */
                        top: 0;
                    }
                }
            }

            &:hover>.link-copy {
                display: block;
            }

            .protyle-linenumber__rows {
                >span {
                    height: auto !important;
                }
            }
        }
    }

    #preview,
    #breadcrumb {
        a {
            /* 取消附加的超链接样式 */
            outline: 0;
            text-decoration: none;
            color: transparent;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .protyle-breadcrumb {
        /* 面包屑栏 */
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 0 0.125em 0.5em 0 var(--b3-theme-on-surface-light);
    }
}

.block__popover {
    min-height: 0;
    max-height: none;

    min-width: 0;
    max-width: none;
}
