// out: "./../css/", compress: false, sourceMap: false
#editor {
    overflow: auto;
    height: 100%;

    #preview {
        [data-node-id] {
            >.copy-link {
                display: none;
                position: absolute;
                top: 0.375rem;
                left: -1.5rem;
                width: 1.5rem;
                // height: 1rem;
                z-index: 1;

                >svg {
                    color: var(--b3-theme-on-surface-light);
                }

            }

            &.hr {
                >.copy-link {
                    top: -0.25rem;
                }
            }

            &:hover>.copy-link {
                display: block;
            }
        }
    }

    #preview,
    #breadcrumb {
        a {
            outline: 0;
            text-decoration: none;
            color: transparent;

            &:hover {
                text-decoration: none;
            }
        }
    }

}
