<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{{.Title}}</title>
</head>

<style>
    body {
        width: 100%;
        height: 100%;
        background-color: black;
        background-image: url("https://http.cat/{{.StatusCode}}.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

</style>

<body>
</body>

</html>
